p, h1, h2, h3, h4, h5, h6 {
  color:rgba(0,0,0,0.7)!important;
}

h1, h2, h3, h4, strong {color: #004654;}
body {
    background: #d0d0d0;
    color: #000000;
    background: -webkit-linear-gradient(180deg,#abbaab 10%,#fff 90%);
    background: -moz-linear-gradient(180deg,#abbaab 10%,#fff 90%);
    background: -ms-linear-gradient(180deg,#abbaab 10%,#fff 90%);
    background: -o-linear-gradient(180deg,#abbaab 10%,#fff 90%);
    background: linear-gradient(180deg,#abbaab 10%,#fff 90%);
    font-family: "Roboto",Helvetica,Sans-serif
}

